{% extends 'layouts/base.html' %}

{% block content %}

<div class="form-template text-center mt-5">
    <h1>Contactenos</h1>

    <form class="row g-3" method="POST">
        {% csrf_token %}

        <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" required placeholder="Nombre"/>
            <label for="name" class="form-label mx-2">Nombre</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" required placeholder="Apellido"/>
            <label for="name" class="form-label mx-2">Apellido</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" required placeholder="Correo electrónico"/>
            <label for="email" class="form-label mx-2">Correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="email2" class="form-control" id="email2" name="email2" required placeholder="Confirme correo electrónico"/>
            <label for="email2" class="form-label mx-2">Confirme correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="tel" class="form-control" id="phone" name="phone" required placeholder="Teléfono"/>
            <label for="phone" class="form-label mx-2">Teléfono</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="comment" name="comment" style="height: 100px" required placeholder="Escriba su comentario aquí" ></textarea>
            <label for="comment" class="form-label mx-2">Comentario</label>
          </div>
        <br><br><br>
        <div class="col-12 btn-section">
            <button class="btn btn-primary w-50" type="submit">Enviar comentario</button>
            <button class="btn btn-secondary w-50" type="submit">Cancelar</button>
        </div>
    </form>
</div>

{% endblock %}