{% extends 'layouts/base.html' %}

{% block content %}
{% if request.user.is_authenticated and perms.core.change_newsstate %}
<div class="bg-dark shadow rounded p-3">
    <h1 class="bg-dark text-light p-3 rounded">Seleccionar imagen principal</h1>
<hr>
<form class="" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
            {%for msg in messages%}
              {%if msg.tags == 'error' %}
              <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
              {%elif msg.tags == 'success'%}
              <div class="alert alert-success  alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
              {%  endif %} 
            {% endfor %}
{%endif%} 

<div class="editor-control">

<!--opciones de edición-->
    <div class="d-flex flex-row gap-5 bg-secondary p-3 rounded shadow align-items-center">
        <a href="{% url 'edit_news' news_id=news.id %}" class="btn btn-light col shadow">Volver</a>
        <div class="d-flex justify-content-center col">
            <button class="btn btn-primary w-100 shadow" type="submit">Guardar imagen principal</button>
        </div>
    </div>
<br>
</div>
</div>

<hr>

<div class="d-flex flex-row flex-wrap justify-content-center gap-5">
    {% for picture in pictures %}
    <div class="card mb-5 shadow-lg {% if small_screen %}w-100{% endif %} p-5" style="max-width: 750px; height: auto;">
    
        <div class="img-edit-img d-flex align-items-center justify-content-center">
            <img src="{{ picture.picture.url }}" alt="Imagen de la noticia" class="h-100 w-100">
        </div>

        <div class="form-check form-check-inline img-edit-input d-flex mx-auto justify-content-center">
            <input class="form-check-input border border-dark" type="radio" name="principal" id="principal_{{ picture.id }}" value="{{ picture.id }}" {% if picture.principal %}checked{% endif %}>
            <label class="form-check-label fw-semibold" for="principal_{{ picture.id }}">&nbsp;Imagen principal</label>
        </div>
    
        <div class="form-check col d-flex justify-content-center">
            <input class="form-check-input border border-dark" type="checkbox" value="1" id="active_{{ picture.id }}" name="active_{{ picture.id }}" {% if picture.active %}checked{% endif %}>
            <label class="form-check-label fw-semibold" for="active_{{ picture.id }}">&nbsp;Imagen activa</label>
        </div>
        
    </div>
    <br>
    {% endfor %}    
</div>

</form>
{% endif %}
{% endblock %}