{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="d-flex align-center"><img src="../../static/img/logo.svg" alt="Caos News logo" width="50" height="50">&nbspCAOS NEWS</h1>
<br>

<div class="index-template bg-body-tertiary p-3">
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      {% for i in data %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for i in data %}
        {% for picture in pictures %}
        {% if i.premium != 1 and i.state_id == 1 %}
          {% if forloop.parentloop.counter0 == forloop.counter0 %}
            <div class="carousel-item {% if forloop.parentloop.last and forloop.last %}active{% endif %}">
              <h1 class="fw-semibold">{{ i.title }}</h1>
              <a href="{% url 'news_detail' i.id %}" class="d-flex justify-content-center">
                <div class="img-size">
                  <img src="{{ picture.picture.url }}" class="card-img-top photo" alt="...">
                </div>
                <div class="carousel-caption d-none d-md-block">
                </div>
              </a>
            </div>
          {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon dark-img" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon dark-img" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <hr>
<h3>Todas las noticias</h3>
  <hr>
  <br>
  <!--galeria de noticias-->
  <div class="gallery-template d-flex flex-row mx-auto gap-5 flex-wrap justify-content-center">

    {% for n in news %}
    {% if n.state.id == 1 and n.premium == 0 %}
      <div class="card shadow-lg" style="width: 350px; height: 500px">
        <img src="{{ n.image }}" alt="Imagen de la noticia" class="w-100 h-100 mx-auto">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase">{{ n.title }}</h5>
            <div class="d-flex justify-content-center">
              <a href="{% url 'news_detail' n.id %}" class="btn btn-primary shadow w-100">Ver noticia</a>
            </div>
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
  
  </div>

</div>
{% endblock %}
