{% extends 'layouts/base.html' %}

{% block content %}

<h1>Lista de reporteros</h1>
<br>
<div class="text-center">
  
  <table class="table table-striped table-hover shadow-lg mb-5">
    <thead>
      <tr>
        <th scope="col" class="col">Reportero</th>
        <th scope="col" class="col">Opción</th>
        <th scope="col" class="col">Total de noticias</th>
      </tr>
    </thead>
    <tbody>

        {% for periodista, cantidad in periodistas_cantidad %}
        <tr>
          <td class="col">{{ periodista.first_name }} {{ periodista.last_name }}</td>
          <td class="col"><a class="btn btn-primary shadow" href="{% url 'news_gallery' %}?author_id={{ periodista.id }}" role="button">Ver noticias del reportero</a></td>
          <td class="col">{{ cantidad }}</td>
        </tr>
        {% endfor %}

      
    </tbody>
  </table>
</div>

{% endblock %}