{% extends 'layouts/base.html' %}

{% block content %}

<h1>Lista de reporteros</h1>
<br>
    <table class="table table-striped table-hover shadow-lg mb-5">
        <thead>
          <tr>
            <th scope="col">Reportero</th>
            <th scope="col">Opción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tulio Triviño</td>
            <td><a class="btn btn-primary shadow" href="#" role="button">Ver noticias del reportero</a></td>
          </tr>
          <tr>
            <td>Juan Carlos Bodoque</td>
            <td><a class="btn btn-primary shadow" href="#" role="button">Ver noticias del reportero</a></td>
          </tr>
          <tr>
            <td>Guaripolo, el personaje favorito de los niños de 31 minutos</td>
            <td><a class="btn btn-primary shadow" href="#" role="button">Ver noticias del reportero</a></td>
          </tr>
        </tbody>
      </table>

{% endblock %}