{% extends 'layouts/base.html' %}

{% block content %}

<div class="index-template bg-body-tertiary p-3">

<h1>Noticia</h1>
<br>
<div class="card w-100 p-5">
    <h1 class="card-title fw-semibold">{{ detail.title }}</h1>
    <p class="card-text">{{ detail.author }}</p>
    <div class="d-flex mx-auto justify-content-center">
      {% if detail.photo %}
      <img src="../../../media/{{ detail.photo }}" class="card-img-top" alt="...">
      {% else %}
      <img src="../../static/img/no_image.png" class="card-img-top" alt="...">
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{ detail.article }}</p>
      <a href="{% url 'pictures_gallery' %}" class="btn btn-primary">Ir a galería de imágenes</a>
    </div>
  </div>

</div>
{% endblock %}