{% extends 'layouts/base.html' %}

{% block content %}

<div class="index-template bg-body-tertiary p-3">

<h1>{{ detail.title }}</h1>
<p class="card-text">Autor: 
{{ detail.author.first_name }} {{ detail.author.last_name }}<br>
{{ detail.date }}</p>
<hr>
<p>
  <a href="{% url 'pictures_gallery' detail.id %}" class="btn btn-primary">Ir a galería de imágenes</a>
</p>
<div class="card w-100 p-5">
  
  <div class="d-flex mx-auto justify-content-center">
    {% for picture in pictures %}
    {% if picture.principal %}
    <img src="{{ picture.picture.url }}" alt="Imagen de la noticia" class="w-75">
    {% endif %}
    
    {% endfor %}
  </div>
  <div class="card-body">
    <hr>
      <p class="card-text">{{ detail.article }}</p>
    </div>
  </div>

</div>
{% endblock %}