{% extends 'layouts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Galería premium de noticias</h1>
<br>

<div class="gallery-template d-flex flex-row mx-auto gap-5 flex-wrap justify-content-center">

  {% for n in news_premium %}
  {% if n.state.id == 1 and n.premium == 1 %}
    <div class="card shadow-lg" style="width: 18rem;">
      <img src="../../../media/{{ n.photo }}" class="card-img-top preview" alt="...">
      <div class="card-body">
          <h5 class="card-title text-center text-uppercase">{{n.title}}</h5>
          <p class="card-text">{{n.article}}</p>
          <div class="d-flex justify-content-center">
            <a href="{% url 'news_detail' n.id %}" class="btn btn-primary shadow w-100">Ver noticia</a>
          </div>
        </div>
      </div>
      <br>
      {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% endblock %}