{% extends 'layouts/base.html' %}

{% block content %}

<h1>Galería de noticas</h1>
<br>

<div class="gallery-template d-flex flex-row mx-auto gap-5 flex-wrap justify-content-center">

  {% for i in data %}
  {% if i.state.id == 1 %}
    <div class="card shadow-lg" style="width: 18rem;">
      <img src="../../../media/{{ i.photo }}" class="card-img-top preview" alt="...">
      <div class="card-body">
          <h5 class="card-title text-center text-uppercase">{{i.title}}</h5>
          <p class="card-text">{{i.article}}</p>
          <div class="d-flex justify-content-center">
            <a href="{% url 'news_detail' i.id %}" class="btn btn-primary shadow w-100">Ver noticia</a>
          </div>
        </div>
      </div>
      <br>
      {% endif %}
      {% endfor %}
    </div>

  {% endblock %}