{% extends 'layouts/base.html' %}

{% block content %}

<h1>Galería de noticas</h1>
<br>

<div class="gallery-template d-flex flex-row m-5 gap-5 flex-wrap justify-content-center">

    <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>
    
      <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/5.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>
    
      <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/6.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem;">
        <img src="../../static/img/1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'news_detail' %}" class="btn btn-primary shadow">Go somewhere</a>
        </div>
      </div>

  </div>

  {% endblock %}