{% extends 'layouts/base_user.html' %}

{% block content %}

<div class="form-template text-center mt-5">
    <h1>Editar noticia</h1>
    <br>
    <form class="row g-3" method="POST">
        {% csrf_token %}

        <div class="form-floating">
            <input type="text" class="form-control" id="title" name="title" required placeholder="Título"/>
            <label for="title" class="form-label mx-2">Título</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="article" name="article" style="height: 100px" required placeholder="Artículo" ></textarea>
            <label for="article" class="form-label mx-2">Artículo</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="author" name="author" required placeholder="Autor"/>
            <label for="author" class="form-label mx-2">Autor</label>
        </div>
        <select class="form-select" aria-label="Default select example" name="category" id="category">
            <option selected disabled>Open this select menu</option>
            <option value="1">One</option>
        </select>
        <br><br><br>
        <div class="col-12 btn-section">
            <button class="btn btn-primary w-50 shadow" type="submit">Editar noticia</button>
            <button class="btn btn-danger w-50 shadow" type="submit">Eliminar</button>
        </div>
    </form>
</div>

{% endblock %}