{% extends 'layouts/base.html' %}

{% block content %}
{% if request.user.is_authenticated and perms.core.add_news %}
<div class="bg-dark shadow rounded p-3 w-100 w-lg-50">
    <h1 class="bg-dark text-light p-3 rounded">Editar noticia</h1>
<hr>
<form class="" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

<div class="editor-control">

<!--opciones de edición-->
   
    <div class="form-floating">
        <textarea class="form-control bg-warning shadow" id="articleId" name="feedback" style="height: 100px" required placeholder="Feedback" disabled>{{ detail.feedback }}</textarea>
        <label for="articleId" class="form-label mx-2">Feedback</label>
    </div>
    <br>
    <div class="w-100 w-lg-50 btn-section">
        <button class="btn btn-primary w-100 w-lg-50 shadow" type="submit">Modificar noticia</button>
        <button class="btn btn-secondary w-100 w-lg-50 shadow" type="reset">Limpiar</button>
    </div>
</div>
</div>

<hr>
{% if messages%}
    {%for msg in messages%}
        {%if msg.tags == 'error' %}
              <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
        {%elif msg.tags == 'success'%}
              <div class="alert alert-success  alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> 
        {%  endif %} 
    {% endfor %}
{%endif%}
  <div class="form-floating w-100 w-lg-50">
    <input type="text" class="form-control" id="titleId" name="titleF" value="{{ detail.title }}" required placeholder="Título"/>
    <label for="titleId" class="form-label mx-2">Título</label>
  </div>
  <br>
  <div class="form-floating w-100 w-lg-50">
    <textarea class="form-control" id="articleId" name="articleF" style="height: 100px" required placeholder="Artículo" >{{ detail.article }}</textarea>
    <label for="articleId" class="form-label mx-2">Artículo</label>
  </div>
  <br>
  <select class="form-select" aria-label="Default select example" name="categoryF" id="categoryId">
      <option selected disabled>Elige una categoría</option>
          {% for category in category %}
              <option value="{{ category.id }}">{{ category.category }}</option>
          {% endfor %}
  </select>
  <br>
  <div class="mb-3 w-100 w-lg-50">
      <label for="formFileSm" class="form-label">Seleccionar imágenes</label>
      <input name="photo" class="form-control form-control-sm" id="formFileSm" type="file" multiple>
  </div>
  <br>
  <div class="form-floating w-100 w-lg-50">
      <input type="text" class="form-control" id="ubicacionId" value="{{ detail.location }}" name="ubicacionF" required placeholder="Ubicación"/>
      <label for="ubicacionId" class="form-label mx-2">Ubicación</label>
  </div>
  <br>


</form>
{% endif %}
{% endblock %}