{% extends 'layouts/base.html' %}

{% block content %}

<div class="index-template bg-body-tertiary p-3">

<h1>Noticia</h1>
<br>
<div class="card w-100 p-5">
    <h1 class="card-title fw-semibold">Título</h1>
    <p class="card-text">Autor</p>
    <img src="../../static/img/5.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore magnam aliquid illum quaerat quam! Quis, beatae. Veniam saepe, molestiae sequi ipsam blanditiis ea dicta, eos itaque soluta molestias praesentium aut.
      Cum asperiores illum reprehenderit! Distinctio nesciunt quod harum eius, inventore labore eos itaque voluptate minima, explicabo nobis tenetur! Quasi harum deleniti odit neque temporibus in adipisci explicabo cum maxime dicta.
      Maiores modi possimus sapiente corporis eaque optio delectus quia ratione, eveniet suscipit officiis animi placeat facere hic? Quas deleniti nihil consectetur suscipit sint quos facilis debitis quisquam? Aliquam, illo aspernatur.</p>
      <a href="{% url 'pictures_gallery' %}" class="btn btn-primary">Ir a galería de imágenes</a>
    </div>
  </div>

</div>
{% endblock %}