{% extends 'layouts/base.html' %}

{% block content %}

<div class="index-template bg-body-tertiary p-3">

<h1>Noticia</h1>
<br>
<div class="card w-100 p-5">
    <h1 class="card-title fw-semibold">{{ detail.title }}</h1>
    <p class="card-text">{{ detail.author }}</p>
    <div class="d-flex mx-auto justify-content-center">
      {% for picture in pictures %}
      <img src="{{ picture.picture.url }}" alt="Imagen de la noticia" class="w-75">

      {% endfor %}
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-primary">Volver</a>
      <p class="card-text">{{ detail.article }}</p>
    </div>
  </div>

</div>
{% endblock %}